div{
    display: inline-block;
}
.satu{
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
   
}

.dua{
    width:  100px;
    height: 100px;
    background-color: lightsalmon;
}

.tiga{
    width: 50px;
    height: 50px;
    background-color: lightskyblue;
}