div{
    width: 600px;
    margin: 10px auto;
}

.satu{
    width: 570px;
    background-color: pink;
    padding: 10px;
    border: 5px solid red;

}

.dua{
    width: 570px;
    background-color: lightskyblue;
    padding: 30px;
    border: 15px dotted orange;

}