.container{
    width: 600px;
    height: 1px solid black;
    margin: auto;
    padding: 5px;
}

.kotak{
    width: 80px;
    height: 80px;
    background-color: salmon;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    margin: 2px;
    float: left;
}

.clear{
    clear: left;
}